files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            RewriteCond %{HTTP_HOST} !^rockchain.com [NC]
            RewriteRule "^/robots\.txt$" "/robots-off.txt" [L]

            RewriteCond %{REQUEST_FILENAME} !-d
            RewriteCond %{DOCUMENT_ROOT}/$1\.php -f [NC]
            RewriteRule ^(.+?)/?$ /$1.php [L]
